:root {
    --gold-color: #FFD700;
    --royal-color: #436EEE;
    --violet-red-color: #CD3278;
    --purple-color: #912CEE;
    --other-color: #19c575;
    --background-color: #dbdbdb;
    --menu-button-color: #C2C2C2;
    --primary-collor: #0323A6;

}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    background: var(--background-color);
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

body {
    display: grid;
    grid-template-rows: 8fr 2fr;
}

main {
    padding-top: 1rem;
    overflow: auto;
}

h1 {
    font-size: 3.5rem;
}

section#presentation {
    display: flex;
    justify-content: space-between;
}

section#presentation button {
    background-image: linear-gradient(181.07deg, #FFD703 0.91%, #D26461 99.09%);
    height: 3rem;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 40px;
    border: none;

    box-shadow: -2px -4px 4px rgba(255, 255, 255, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);

    float: right;

    transition: 0.2s box-shadow;
}
section#presentation button:hover {
    box-shadow: -2px -4px 8px rgba(255, 255, 255, 0.25), 2px 4px 8px rgba(0, 0, 0, 0.25);
}

section#presentation div {
    width: 100%;
    text-align: justify;
    padding: 1rem;
}

section#presentation img {
    width: 100%;
}

section#skills {
    height: 85%;
    width: 95%;
    margin: auto;
    padding: 2rem 1rem;
}

section#skills div {
    display: inline-table;
    width: 25%;
    margin: 0.5rem 2rem;
}

section#skills div div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#skills progress {
    -webkit-appearance: none;
    appearance: none;
    height: 0.8rem;
    width: 100%;
}

section#skills progress::-webkit-progress-bar {
    border-radius: 30px;
    background-color: #eee;
}

section#skills progress::-webkit-progress-value {
    border-radius: 30px;
    background-image: linear-gradient(90deg, #71EBFC 0%, #8FE9E9 0.01%, #4A6EFF 98.44%);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--background-color);
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

nav ul li {
    background-color: var(--menu-button-color);
    padding: 1rem;
    border-radius: 30px;
    display: inline-flex;
    margin: 0 1rem;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: -2px -4px 4px rgba(255, 255, 255, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s background-color;
}

nav ul li:hover {
    background-color: var(--background-color);
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav .material-icons {
    font-size: 60px;
    margin-right: 0.5rem;
    color: var(--primary-collor);
}