body{
    background: linear-gradient(180deg, #824DBF 0%, #573380 50.52%, #2B1A40 100%);
}
body > #content {

position: absolute;
left: 4.69%;
right: 3.03%;
top: 8.59%;
bottom: 13.41%;

background: rgba(196, 196, 196, 0.7);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 80px;

}
