body{
    width: 100%;
}
header{

    position: absolute;
    width: 100%;
    min-width: 500px;
    min-width: 1400px;
    height: 750px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #F15350 0%, #BE423F 45.19%, #712726 100%);
}

header img#logo{

    position: absolute;
    width: 200px;
    height: 130px;
    left: 81px;
    top: 21px;
}

header ul{
    position: absolute;
    width: 500px;
    min-width: 100px;
    min-width: 500px;
    height: 55px;
    left: 850px;
    top: 50px;
}

header ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    display: inline;
    padding: 30px;

}
header h1{
    position: absolute;
    width: 550px;
    height: 204px;
    left: 90px;
    top: 200px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 72px;

    color: #FFFFFF;

}

header img#foto-perfil{
    border-radius: 50%;
    float: right;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 980px;
    top: 150px;

}

header p{

    position: absolute;
    width: 704px;   
    height: 169px;
    left: 368px;
    top: 500px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3    ;
    font-size: 24px;
    text-align: center;

    color: #FFFFFF;
}