:root {
    --color-line-light: #c3c3c3;
    --background-color: #2B2C43;
    --details-color: #EDAD0A;
    --details-color-darker: #d69a00;
    --default-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --default-transparency: rgba(255, 255, 255, 0.5);
    --default-font-family: 'Nunito', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
    color: white;
}

body {
    background: var(--background-color);
    padding-bottom: 2rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    padding-top: 1rem;
    position: fixed;
    transition: .2s background-color, .2s box-shadow;
}

nav.filled {
    background-color: var(--background-color);
    box-shadow: var(--default-shadow);
}

p {
    text-align: justify;
}

button {
    background-color: var(--details-color);
    border: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: var(--default-shadow);
    transition: 0.2s background-color;
    font-family: var(--default-font-family);
}

button:hover {
    background-color: var(--details-color-darker);
}

button:focus {
    outline: none;
}

#logo {
    color: var(--details-color);
}

#logo h1 {
    margin: 0;
}

nav>div {
    margin: 0 1rem;
    cursor: pointer;
}

nav>div .material-icons {
    font-size: 2.1rem;
    color: white;
}

ul[data-device="desktop"] {
    display: none;
}
ul[data-device="mobile"] {
    display: block;
    padding: 0;
    box-shadow: var(--default-shadow);

    font-weight: 700;
    list-style: none;
    text-align: center;
    visibility: hidden;


    max-height: 0;
    position: fixed;
    top: 5%;
    z-index: 1;
    width: 100%;
}

ul[data-device="mobile"].active {
    overflow: hidden;
    visibility: visible;
    max-height: 200px;
    transition: max-height .5s ease-in-out;
}

ul[data-device="mobile"] li {
    padding: 0.5rem 0;
    background-color: white;
    border-bottom: solid 1px var(--color-line-light);
    color: black;
    transition: .2s background-color;
}

ul[data-device="mobile"] li:hover {
    background-color: var(--details-color-darker);
    color: white;
}

header img {
    width: 100%;
}

header div>img {
    background: rgba(255, 255, 255, 0.33);
    padding-top: 2rem;
}

header div#presentation {
    padding: 0 1rem;
}

header div#presentation h1 {
    text-align: center;
}

header div#presentation h1 strong {
    color: var(--details-color);
}

header div#presentation p {
    text-align: justify;
}


.line-decoration {
    font-size: .1rem;
    margin-right: .5rem;
}

.line-decoration::before {
    display: inline-block;
    content: '';
    width: 3rem;
    border-top: .25rem solid var(--details-color);
}


section {
    padding: 0 2rem 2rem 2rem;
}

.section-title {
    display: flex;
    align-items: center;
}

.section-title h4 {
    font-size: 1.4rem;
    font-weight: 400;
}

.card {
    background: var(--default-transparency);
    box-shadow: var(--default-shadow);
    padding: 0 .3rem;
}

.primary-card {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.secondary-card {
    margin: 0;
    padding: 0;
}

.secondary-card img {
    width: 100%;
}

.secondary-card div {
    padding: 1rem;
}

.secondary-card div h4 {
    margin: 0;
}

section#work .card.primary-card img,
section#work .card .material-icons {
    width: 3rem;
    font-size: 3rem;
    margin: 0 .3rem;
}

section#work .primary-card h4,
section#work .primary-card p {
    margin: .5rem;
    color: black;
    text-align: justify;
}

section#work .card h4 {
    font-size: 1.1rem;
}

section h3 {
    color: var(--details-color);
    font-weight: 300;

    margin-top: 3rem;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
}

.carousel .card {
    width: 15rem;
    flex: 0 0 auto;
}

.carousel .card {
    margin-right: 1rem;
}

.carousel::-webkit-scrollbar {
    display: none;
}

section#about button {
    width: 100%;
    padding: .5rem;
}

section#about .technologies {
    margin: 2rem 0;
}

section#about .technologies img+img {
    margin: .3rem;
}


section#contact p span {
    color: var(--details-color);
}

.media-box {
    display: flex;
    align-items: center;
}

.media-box a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    transition: .5s color;
}

.media-box a:hover {
    color: var(--details-color);
}

.media-box img {
    margin-right: 1rem;
}


@media screen and (min-width: 700px) {
    header {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.33);
        display: flex;
    }

    header div>img {
        background: transparent;
    }

    header>div {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    ul[data-device="mobile"], div#mobile-menu{
        display: none;
    }

    ul[data-device="desktop"] {
        list-style: none;
        width: 50%;
        margin: 0 1rem;
        display: flex;
        justify-content:  space-evenly;
        font-size: 1.2rem;
        font-weight: 700;
    }

    div#description-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%; 
        justify-content: space-between;
    }
    div#description-cards div.card {
       width: 48%;
    }

    .carousel {
        display: flex;
        justify-content: space-evenly;
    }

}